div#header {
    height: 21px;
}

div.config_items {

}

.signal_toggle {
    width: 21px;
    height: 21px;
}

.signal_toggle img {
    width: inherit;
    height: inherit;
}

.signal_viewer {
    left: 0%;
    top: 30px;
    position: absolute;
    background-color: white;
    z-index: 9;
}

.signal_buttons {
    left: 0%;
    position: absolute;
}

.config_toggle {
    width: 21px;
    height: 21px;
}

.config_toggle img {
    width: inherit;
    height: inherit;
}

.config_editor {
    right: 0%;
    top: 30px;
    position: absolute;
    background-color: white;
    z-index: 10;
}

.config_buttons {
    right: 0%;
    position: absolute;
}

.config_buttons button {
    vertical-align: top;
}

textarea.notes {
    border-color: black;
    border-width: 2px;
}

.pending {
    color: red;
}
